test2/src/main/mule/test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3786e423-024c-4d7a-8aee-e6fc98aa3312" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test2Flow" doc:id="be681eda-b9d8-4169-82b5-2a195161bdb7" >
		<http:listener doc:name="Listener" doc:id="e2e4c878-fd3b-4f6e-8d08-366e769fac6e" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello mule"]' doc:name="Set Payload" doc:id="7f2d4449-60fa-4d2b-8391-20bf572385da" />
	</flow>
</mule>
